# LATAM in Numbers - Dashboard Project


### An overview of Latin America region, with some macro economic indicator

### GOAL
This notebook aims to collect and prepare the dataset to be used in the **Latam in Numbers Dashboard** project, which is supposed to visually showcase some key indicators of the Latin America region. 

Here are the key indicators to be initially collected for each country:
- Total Population
- Total GDP
- GDP per Capita - PPP
- Life Expectancy
- Happiness Index
- HDI

In [3]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

print("✅ Imports completed!")

✅ Imports completed!

### Load the Dataset

In [4]:
file_path = "/home/rafael/code/latam_numbers/Latam_Numbers.xlsx"

df_xsl = pd.read_excel(file_path)
df_xsl

    Country ID        Country Name    Capital City
0            1           Argentina    Buenos Aires
1            2             Bolivia           Sucre
2            3              Brazil        Brasília
3            4               Chile        Santiago
4            5            Colombia          Bogotá
5            6          Costa Rica        San José
6            7                Cuba          Havana
7            8  Dominican Republic   Santo Domingo
8            9             Ecuador           Quito
9           10         El Salvador    San Salvador
10          11           Guatemala  Guatemala City
11          12            Honduras     Tegucigalpa
12          13              Mexico     Mexico City
13          14           Nicaragua         Managua
14          15              Panama     Panama City
15          16            Paraguay        Asunción
16          17                Peru            Lima
17          18             Uruguay      Montevideo
18          19           Venezuela         Caracas

In [5]:
# Adding HAITI to the table of countries:
df_start = pd.concat([df_xsl, pd.DataFrame({"Country Name": ["Haiti"],
                                            "Capital City": ["Port-Au-Prince"]})], ignore_index=True)

df_start.tail()

    Country ID Country Name    Capital City
15        16.0     Paraguay        Asunción
16        17.0         Peru            Lima
17        18.0      Uruguay      Montevideo
18        19.0    Venezuela         Caracas
19         NaN        Haiti  Port-Au-Prince

In [6]:
# CLEANING THE TABLE

# Remove spaces at the beginning and at the end of country name:
df_start["Country Name"] = df_start["Country Name"].str.strip()

# Remove double or repeated spaces inside the text
df_start["Country Name"] = df_start["Country Name"].str.replace(r"\s+", " ", regex=True)

# Sorting names by Country (to acommodate Haiti correctly):
df_start = df_start.sort_values("Country Name")

df_start = df_start[["Country Name", "Capital City"]]

df_start

          Country Name    Capital City
0            Argentina    Buenos Aires
1              Bolivia           Sucre
2               Brazil        Brasília
3                Chile        Santiago
4             Colombia          Bogotá
5           Costa Rica        San José
6                 Cuba          Havana
7   Dominican Republic   Santo Domingo
8              Ecuador           Quito
9          El Salvador    San Salvador
10           Guatemala  Guatemala City
19               Haiti  Port-Au-Prince
11            Honduras     Tegucigalpa
12              Mexico     Mexico City
13           Nicaragua         Managua
14              Panama     Panama City
15            Paraguay        Asunción
16                Peru            Lima
17             Uruguay      Montevideo
18           Venezuela         Caracas

---

### New Column 'Country ISO Code':

In [7]:
# Let's create new column 'Country ISO Code':

iso_codes = {

 "Argentina": "AR",
 "Bolivia": "BO",
 "Brazil": "BR",
 "Chile": "CL",
 "Colombia": "CO",
 "Costa Rica": "CR",
 "Cuba": "CU",
 "Dominican Republic": "DO",
 "Ecuador": "EC",
 "El Salvador": "SV",
 "Guatemala": "GT",
 "Honduras": "HN",
 "Mexico": "MX",
 "Nicaragua": "NI",
 "Panama": "PA",
 "Paraguay": "PY",
 "Peru": "PE",
 "Uruguay": "UY",
 "Venezuela": "VE",
 "Haiti": "HT"
                }

In [8]:
# New column Country ISO Code (used for merging tables)
df_start["Country ISO Code"] = df_start["Country Name"].map(iso_codes)

df_start

          Country Name    Capital City Country ISO Code
0            Argentina    Buenos Aires               AR
1              Bolivia           Sucre               BO
2               Brazil        Brasília               BR
3                Chile        Santiago               CL
4             Colombia          Bogotá               CO
5           Costa Rica        San José               CR
6                 Cuba          Havana               CU
7   Dominican Republic   Santo Domingo               DO
8              Ecuador           Quito               EC
9          El Salvador    San Salvador               SV
10           Guatemala  Guatemala City               GT
19               Haiti  Port-Au-Prince               HT
11            Honduras     Tegucigalpa               HN
12              Mexico     Mexico City               MX
13           Nicaragua         Managua               NI
14              Panama     Panama City               PA
15            Paraguay        Asunción               PY
16                Peru            Lima               PE
17             Uruguay      Montevideo               UY
18           Venezuela         Caracas               VE

In [9]:
# Build the country list string suitable for the WorldBank API
iso_list = df_start["Country ISO Code"].dropna().unique().tolist()
iso_csv = ";".join(code.lower() for code in iso_list)

iso_csv

'ar;bo;br;cl;co;cr;cu;do;ec;sv;gt;ht;hn;mx;ni;pa;py;pe;uy;ve'

---

## Total Population

In order to add a new column with **Total Population** by country, that's the workflow we'll follow:
1. Use the World Bank connector
2. Map the Country Name → ISO-2 country codes (World Bank prefers those)
3. Request the population indicator: 'SP.POP.TOTL'
4. Pull the most recent available value per country.
5. Finally merge that value back into df_start.

In [10]:
# install required packages:
!pip install wbdata pycountry pandas

Requirement already satisfied: wbdata in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (1.1.0)
Requirement already satisfied: pycountry in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (24.6.1)
Requirement already satisfied: pandas in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: appdirs<2,>=1.4 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from wbdata) (1.4.4)
Requirement already satisfied: backoff<3,>=2.2.1 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from wbdata) (2.2.1)
Requirement already satisfied: cachetools<6,>=5.3.2 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from wbdata) (5.5.2)
Requirement already satisfied: dateparser<2,>=1.2.0 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from wbdata) (1.2.2)
Requirement already satisfied: decorator<6,>=5.1.1 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from wbdata) (5.2.0)
Requirement already satisfied: requests<3,>=2.0 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from wbdata) (2.32.5)
Requirement already satisfied: shelved-cache<0.4,>=0.3.1 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from wbdata) (0.3.1)
Requirement already satisfied: tabulate<1,>=0.8.5 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from wbdata) (0.9.0)
Requirement already satisfied: python-dateutil>=2.7.0 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from dateparser<2,>=1.2.0->wbdata) (2.9.0.post0)
Requirement already satisfied: pytz>=2024.2 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from dateparser<2,>=1.2.0->wbdata) (2025.1)
Requirement already satisfied: regex>=2024.9.11 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from dateparser<2,>=1.2.0->wbdata) (2024.11.6)
Requirement already satisfied: tzlocal>=0.2 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from dateparser<2,>=1.2.0->wbdata) (5.3.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from requests<3,>=2.0->wbdata) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from requests<3,>=2.0->wbdata) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from requests<3,>=2.0->wbdata) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from requests<3,>=2.0->wbdata) (2025.1.31)
Requirement already satisfied: numpy>=1.26.0 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: tzdata>=2022.7 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /home/rafael/.pyenv/versions/lewagon/lib/python3.12/site-packages (from python-dateutil>=2.7.0->dateparser<2,>=1.2.0->wbdata) (1.17.0)

In [11]:
import wbdata # World Bank Data
from datetime import datetime
import requests

In [12]:
# Build the URL and call the World Bank API for the population indicator

indicator = "SP.POP.TOTL" # Id for Population
final_year = datetime.now().year - 1 # ie. 2024
start_year = final_year - 9    # last 10 years (2015–2024)

url = ( f"https://api.worldbank.org/v2/country/{iso_csv}/indicator/{indicator}"
        f"?date={start_year}:{final_year}&format=json&per_page=20000")

response = requests.get(url)
response.raise_for_status()   # stops if HTTP error
data = response.json()

rows = []

for rec in data[1]:    # payload[1] contains the actual observations
    iso2 = (rec.get("country") or {}).get("id")          # e.g. 'AR'
    country_name = (rec.get("country") or {}).get("value")
    year = int(rec.get("date")) if rec.get("date") else None
    pop = rec.get("value")   # can be None
    rows.append({
        "Country ISO Code": iso2.upper() if iso2 else None,
        "Country Name_API": country_name,
        "Year": year,
        "Total Population": pop
    })

df_wb_pop = pd.DataFrame(rows)

df_wb_pop.tail(20)

    Country ISO Code Country Name_API  Year  Total Population
180               UY          Uruguay  2024           3386588
181               UY          Uruguay  2023           3388081
182               UY          Uruguay  2022           3390913
183               UY          Uruguay  2021           3396695
184               UY          Uruguay  2020           3398968
185               UY          Uruguay  2019           3397206
186               UY          Uruguay  2018           3394534
187               UY          Uruguay  2017           3388438
188               UY          Uruguay  2016           3379283
189               UY          Uruguay  2015           3368017
190               VE    Venezuela, RB  2024          28405543
191               VE    Venezuela, RB  2023          28300854
192               VE    Venezuela, RB  2022          28213017
193               VE    Venezuela, RB  2021          28237826
194               VE    Venezuela, RB  2020          28444077
195               VE    Venezuela, RB  2019          28938098
196               VE    Venezuela, RB  2018          29807592
197               VE    Venezuela, RB  2017          30565323
198               VE    Venezuela, RB  2016          30765720
199               VE    Venezuela, RB  2015          30573972

In [13]:
df_wb_pop.shape

(200, 4)

In [14]:
df_start

          Country Name    Capital City Country ISO Code
0            Argentina    Buenos Aires               AR
1              Bolivia           Sucre               BO
2               Brazil        Brasília               BR
3                Chile        Santiago               CL
4             Colombia          Bogotá               CO
5           Costa Rica        San José               CR
6                 Cuba          Havana               CU
7   Dominican Republic   Santo Domingo               DO
8              Ecuador           Quito               EC
9          El Salvador    San Salvador               SV
10           Guatemala  Guatemala City               GT
19               Haiti  Port-Au-Prince               HT
11            Honduras     Tegucigalpa               HN
12              Mexico     Mexico City               MX
13           Nicaragua         Managua               NI
14              Panama     Panama City               PA
15            Paraguay        Asunción               PY
16                Peru            Lima               PE
17             Uruguay      Montevideo               UY
18           Venezuela         Caracas               VE

In [15]:
# Merge the 2 DataFrames:
df_merged = df_start.merge(df_wb_pop[["Country ISO Code", "Year", "Total Population"]],
                            on="Country ISO Code",
                            how="left"  )

# Reordering columns:
df_pop = df_merged[["Country Name","Country ISO Code","Capital City","Year","Total Population"]]

df_pop.tail(15)

    Country Name Country ISO Code Capital City  Year  Total Population
185      Uruguay               UY   Montevideo  2019           3397206
186      Uruguay               UY   Montevideo  2018           3394534
187      Uruguay               UY   Montevideo  2017           3388438
188      Uruguay               UY   Montevideo  2016           3379283
189      Uruguay               UY   Montevideo  2015           3368017
190    Venezuela               VE      Caracas  2024          28405543
191    Venezuela               VE      Caracas  2023          28300854
192    Venezuela               VE      Caracas  2022          28213017
193    Venezuela               VE      Caracas  2021          28237826
194    Venezuela               VE      Caracas  2020          28444077
195    Venezuela               VE      Caracas  2019          28938098
196    Venezuela               VE      Caracas  2018          29807592
197    Venezuela               VE      Caracas  2017          30565323
198    Venezuela               VE      Caracas  2016          30765720
199    Venezuela               VE      Caracas  2015          30573972

✅ That's the final table with TOTAL POPULATION by country in the last 10 years.

---



## Total GDP

- Same flow as before, but now using a different Indicator ID for GDP: *NY.GDP.MKTP.CD*

In [16]:
indicator = "NY.GDP.MKTP.CD" # GDP (current US$)

url = ( f"https://api.worldbank.org/v2/country/{iso_csv}/indicator/{indicator}"
        f"?date={start_year}:{final_year}&format=json&per_page=20000")

response = requests.get(url)
response.raise_for_status()   # stops if HTTP error
data = response.json()

In [17]:
rows = []

for rec in data[1]:    # payload[1] contains the actual observations

    iso2 = (rec.get("country") or {}).get("id")          # e.g. 'AR'

    country_name = (rec.get("country") or {}).get("value")
    year = int(rec.get("date")) if rec.get("date") else None
    gdp_value = rec.get("value")   # GDP can be None if missing

    rows.append({
        "Country ISO Code": iso2.upper() if iso2 else None,
        #"Country Name": country_name,
        "Year": year,
        "Total GDP (USD)": gdp_value
                })


df_wb_gdp = pd.DataFrame(rows)

df_wb_gdp.head(20)

   Country ISO Code  Year  Total GDP (USD)
0                AR  2024     6.332667e+11
1                AR  2023     6.460753e+11
2                AR  2022     6.327901e+11
3                AR  2021     4.865641e+11
4                AR  2020     3.857405e+11
5                AR  2019     4.477547e+11
6                AR  2018     5.248199e+11
7                AR  2017     6.436284e+11
8                AR  2016     5.575323e+11
9                AR  2015     5.947493e+11
10               BO  2024     4.966830e+10
11               BO  2023     4.513540e+10
12               BO  2022     4.400828e+10
13               BO  2021     4.040611e+10
14               BO  2020     3.662984e+10
15               BO  2019     4.089532e+10
16               BO  2018     4.028765e+10
17               BO  2017     3.750864e+10
18               BO  2016     3.394113e+10
19               BO  2015     3.300020e+10

In [18]:
# Merging with df_pop
df_merged = df_pop.merge(df_wb_gdp[["Country ISO Code", "Year", "Total GDP (USD)"]],
                         on=["Country ISO Code", "Year"],
                         how="left")
df_gdp = df_merged
df_gdp.head(30)

,Country Name,Country ISO Code,Capital City,Year,Total Population,Total GDP (USD)
0,Argentina,AR,Buenos Aires,2024,45696159,6.332667e+11
1,Argentina,AR,Buenos Aires,2023,45538401,6.460753e+11
2,Argentina,AR,Buenos Aires,2022,45407904,6.327901e+11
3,Argentina,AR,Buenos Aires,2021,45312281,4.865641e+11
4,Argentina,AR,Buenos Aires,2020,45191965,3.857405e+11
5,Argentina,AR,Buenos Aires,2019,44973465,4.477547e+11
6,Argentina,AR,Buenos Aires,2018,44654882,5.248199e+11
7,Argentina,AR,Buenos Aires,2017,44288894,6.436284e+11
8,Argentina,AR,Buenos Aires,2016,43900313,5.575323e+11
9,Argentina,AR,Buenos Aires,2015,43477012,5.947493e+11
10,Bolivia,BO,Sucre,2024,12413315,4.966830e+10
11,Bolivia,BO,Sucre,2023,12244159,4.513540e+10
12,Bolivia,BO,Sucre,2022,12077154,4.400828e+10
13,Bolivia,BO,Sucre,2021,11937360,4.040611e+10
14,Bolivia,BO,Sucre,2020,11816299,3.662984e+10
15,Bolivia,BO,Sucre,2019,11671386,4.089532e+10
16,Bolivia,BO,Sucre,2018,11508368,4.028765e+10
17,Bolivia,BO,Sucre,2017,11344587,3.750864e+10
18,Bolivia,BO,Sucre,2016,11180020,3.394113e+10
19,Bolivia,BO,Sucre,2015,11014705,3.300020e+10
20,Brazil,BR,Brasília,2024,211998573,2.179412e+12
21,Brazil,BR,Brasília,2023,211140729,2.191132e+12
22,Brazil,BR,Brasília,2022,210306415,1.951924e+12
23,Brazil,BR,Brasília,2021,209550294,1.670647e+12
24,Brazil,BR,Brasília,2020,208660842,1.476107e+12
25,Brazil,BR,Brasília,2019,207455459,1.873288e+12
26,Brazil,BR,Brasília,2018,206107261,1.916934e+12
27,Brazil,BR,Brasília,2017,204703445,2.063515e+12
28,Brazil,BR,Brasília,2016,203218114,1.795693e+12
29,Brazil,BR,Brasília,2015,201675532,1.802212e+12

---

## GDP per Capita PPP

- Data also comes from **World Bank**
- Same flow as before, but now for another indicator: *NY.GDP.PCAP.PP.CD*

In [19]:
indicator = "NY.GDP.PCAP.PP.CD" # ID NY.GDP.MKTP.PP.CD

url = ( f"https://api.worldbank.org/v2/country/{iso_csv}/indicator/{indicator}"
        f"?date={start_year}:{final_year}&format=json&per_page=20000"        )

response = requests.get(url)
response.raise_for_status()
data = response.json()

In [20]:
rows = []

for rec in data[1]:    # payload[1] contains the actual observations

    iso2 = (rec.get("country") or {}).get("id")          # e.g. 'AR'

    country_name = (rec.get("country") or {}).get("value")
    year = int(rec.get("date")) if rec.get("date") else None
    gdp_capita = rec.get("value")   # GDP can be None if missing

    rows.append({
        "Country ISO Code": iso2.upper() if iso2 else None,
        "Country Name": country_name,
        "Year": year,
        "GDP per Capita, PPP (USD)": gdp_capita
                })

df_wb_capita = pd.DataFrame(rows)

df_wb_capita.head(30)

   Country ISO Code Country Name  Year  GDP per Capita, PPP (USD)
0                AR    Argentina  2024               30175.535966
1                AR    Argentina  2023               30082.304525
2                AR    Argentina  2022               29597.693843
3                AR    Argentina  2021               26300.274261
4                AR    Argentina  2020               22393.347958
5                AR    Argentina  2019               23516.826198
6                AR    Argentina  2018               24410.391906
7                AR    Argentina  2017               23385.074090
8                AR    Argentina  2016               20105.761360
9                AR    Argentina  2015               19899.149928
10               BO      Bolivia  2024               11189.805510
11               BO      Bolivia  2023               10925.273053
12               BO      Bolivia  2022               10371.962908
13               BO      Bolivia  2021                9454.198147
14               BO      Bolivia  2020                8293.991212
15               BO      Bolivia  2019                9174.445636
16               BO      Bolivia  2018                8952.587853
17               BO      Bolivia  2017                8510.266857
18               BO      Bolivia  2016                7547.903766
19               BO      Bolivia  2015                7152.044650
20               BR       Brazil  2024               22333.411664
21               BR       Brazil  2023               21175.618699
22               BR       Brazil  2022               19876.853353
23               BR       Brazil  2021               18075.706005
24               BR       Brazil  2020               16101.618306
25               BR       Brazil  2019               16069.838015
26               BR       Brazil  2018               15463.742639
27               BR       Brazil  2017               14559.048890
28               BR       Brazil  2016               14309.206149
29               BR       Brazil  2015               14821.438317

In [21]:
# Merging with df_gdp:
df_merged2 = df_gdp.merge(df_wb_capita[["Country ISO Code", "Year", "GDP per Capita, PPP (USD)"]],
                          on=["Country ISO Code", "Year"],
                          how="left")

In [22]:
df_gdp_ppp = df_merged2

df_gdp_ppp.head()

,Country Name,Country ISO Code,Capital City,Year,Total Population,Total GDP (USD),"GDP per Capita, PPP (USD)"
0,Argentina,AR,Buenos Aires,2024,45696159,6.332667e+11,30175.535966
1,Argentina,AR,Buenos Aires,2023,45538401,6.460753e+11,30082.304525
2,Argentina,AR,Buenos Aires,2022,45407904,6.327901e+11,29597.693843
3,Argentina,AR,Buenos Aires,2021,45312281,4.865641e+11,26300.274261
4,Argentina,AR,Buenos Aires,2020,45191965,3.857405e+11,22393.347958

---


## HDI - Human Development Index

- Data was manually filtered and downloaded as Excel file from the Human Development Reports Data Center.
- Link: https://hdr.undp.org/data-center/documentation-and-downloads

In [23]:
df_hdi_raw = pd.read_excel('/home/rafael/code/latam_numbers/hdr-data.xlsx')

df_hdi_raw.head()

,countryIsoCode,country,indexCode,index,dimension,indicatorCode,indicator,year,value,note
0,ARG,Argentina,HDI,Human Development Index,NaN,hdi,Human Development Index (value),2015,0.859,NaN
1,ARG,Argentina,HDI,Human Development Index,NaN,hdi,Human Development Index (value),2016,0.857,NaN
2,ARG,Argentina,HDI,Human Development Index,NaN,hdi,Human Development Index (value),2017,0.861,NaN
3,ARG,Argentina,HDI,Human Development Index,NaN,hdi,Human Development Index (value),2018,0.861,NaN
4,ARG,Argentina,HDI,Human Development Index,NaN,hdi,Human Development Index (value),2019,0.861,NaN

In [24]:
df_hdi_raw["country"].value_counts()

country
Argentina                             9
Bolivia (Plurinational State of)      9
Uruguay                               9
El Salvador                           9
Paraguay                              9
Peru                                  9
Panama                                9
Nicaragua                             9
Mexico                                9
Haiti                                 9
Honduras                              9
Guatemala                             9
Ecuador                               9
Dominican Republic                    9
Cuba                                  9
Costa Rica                            9
Colombia                              9
Chile                                 9
Brazil                                9
Venezuela (Bolivarian Republic of)    9
Name: count, dtype: int64

In [ ]:
# We need to clean the value of BOLIVIA and VENEZUELA,
# so we can use this country column to merge
# with our other DataFrame:

df_hdi_raw["country"]  = df_hdi_raw["country"].replace({"Bolivia (Plurinational State of)": "Bolivia",
                                                        "Venezuela (Bolivarian Republic of)": "Venezuela"})

In [26]:
# CLEANING THE TABLE

# Remove spaces at the beginning and at the end of country name:
df_hdi_raw["country"] = df_hdi_raw["country"].str.strip()

# Remove double or repeated spaces inside the text
df_hdi_raw["country"] = df_hdi_raw["country"].str.replace(r"\s+", " ", regex=True)

print(df_hdi_raw["country"].unique())

['Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia' 'Costa Rica' 'Cuba'
 'Dominican Republic' 'Ecuador' 'Guatemala' 'Honduras' 'Haiti' 'Mexico'
 'Nicaragua' 'Panama' 'Peru' 'Paraguay' 'El Salvador' 'Uruguay'
 'Venezuela']

In [27]:
# Lets rename the columns to be able to merge them:
df_hdi_raw = df_hdi_raw.rename(columns={"country":"Country Name",
                                        "year": "Year",
                                        "value": "HDI"})

df_hdi_raw[["Country Name", "Year", "HDI"]]

    Country Name  Year    HDI
0      Argentina  2015  0.859
1      Argentina  2016  0.857
2      Argentina  2017  0.861
3      Argentina  2018  0.861
4      Argentina  2019  0.861
..           ...   ...    ...
175    Venezuela  2019  0.724
176    Venezuela  2020  0.699
177    Venezuela  2021  0.696
178    Venezuela  2022  0.706
179    Venezuela  2023  0.709

[180 rows x 3 columns]

In [28]:
# Merge with df_gdp_ppp
df_merged3 = df_gdp_ppp.merge(df_hdi_raw[["Country Name", "Year", "HDI"]],
                          on=["Country Name", "Year"],
                          how="left")

In [29]:
df_hdi = df_merged3

df_hdi.head(10)

,Country Name,Country ISO Code,Capital City,Year,Total Population,Total GDP (USD),"GDP per Capita, PPP (USD)",HDI
0,Argentina,AR,Buenos Aires,2024,45696159,6.332667e+11,30175.535966,NaN
1,Argentina,AR,Buenos Aires,2023,45538401,6.460753e+11,30082.304525,0.865
2,Argentina,AR,Buenos Aires,2022,45407904,6.327901e+11,29597.693843,0.858
3,Argentina,AR,Buenos Aires,2021,45312281,4.865641e+11,26300.274261,0.847
4,Argentina,AR,Buenos Aires,2020,45191965,3.857405e+11,22393.347958,0.851
5,Argentina,AR,Buenos Aires,2019,44973465,4.477547e+11,23516.826198,0.861
6,Argentina,AR,Buenos Aires,2018,44654882,5.248199e+11,24410.391906,0.861
7,Argentina,AR,Buenos Aires,2017,44288894,6.436284e+11,23385.074090,0.861
8,Argentina,AR,Buenos Aires,2016,43900313,5.575323e+11,20105.761360,0.857
9,Argentina,AR,Buenos Aires,2015,43477012,5.947493e+11,19899.149928,0.859

---

## Happiness Report

### >> From 2008 to 2023

- Data  taken from a **Kaggle dataset: World Happiness Report- 2024**
- Link: https://www.kaggle.com/datasets/jainaru/world-happiness-report-2024-yearly-updated

In [30]:
df_happy_raw = pd.read_csv("/home/rafael/code/latam_numbers/World-happiness-report-updated_2024.csv", encoding="latin-1")

df_happy_raw.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.350,0.451,50.5,0.718,0.164,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.8,0.679,0.187,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.1,0.600,0.118,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.4,0.496,0.160,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.7,0.531,0.234,0.776,0.614,0.268

In [31]:
 df_happy_raw = df_happy_raw.rename(columns={"Country name": "Country Name",
                                             "year": "Year",
                                             "Life Ladder": "Happiness Index"})

 df_happy_raw[["Country Name", "Year", "Happiness Index"]]

     Country Name  Year  Happiness Index
0     Afghanistan  2008            3.724
1     Afghanistan  2009            4.402
2     Afghanistan  2010            4.758
3     Afghanistan  2011            3.832
4     Afghanistan  2012            3.783
...           ...   ...              ...
2358     Zimbabwe  2019            2.694
2359     Zimbabwe  2020            3.160
2360     Zimbabwe  2021            3.155
2361     Zimbabwe  2022            3.296
2362     Zimbabwe  2023            3.572

[2363 rows x 3 columns]

In [32]:
countries_list = df_start["Country Name"].unique()
print(countries_list)

['Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia' 'Costa Rica' 'Cuba'
 'Dominican Republic' 'Ecuador' 'El Salvador' 'Guatemala' 'Haiti'
 'Honduras' 'Mexico' 'Nicaragua' 'Panama' 'Paraguay' 'Peru' 'Uruguay'
 'Venezuela']

In [36]:
# Filter df_happy_raw to only those countries in the list above:
df_happy_filtered = df_happy_raw[df_happy_raw["Country Name"].isin(countries_list)]

# Lets drop some columns and stick only to those we need:
df_happy_reduced = df_happy_filtered[["Country Name", "Year", "Happiness Index"]]
df_happy_reduced.head(5)

   Country Name  Year  Happiness Index
46    Argentina  2006            6.313
47    Argentina  2007            6.073
48    Argentina  2008            5.961
49    Argentina  2009            6.424
50    Argentina  2010            6.441

In [37]:
# Merge with df_hdi
df_merged4 = df_hdi.merge(df_happy_reduced[["Country Name", "Year", "Happiness Index"]],
                          on=["Country Name", "Year"],
                          how="left")

In [39]:
df_merged4.head(10)

,Country Name,Country ISO Code,Capital City,Year,Total Population,Total GDP (USD),"GDP per Capita, PPP (USD)",HDI,Happiness Index
0,Argentina,AR,Buenos Aires,2024,45696159,6.332667e+11,30175.535966,NaN,NaN
1,Argentina,AR,Buenos Aires,2023,45538401,6.460753e+11,30082.304525,0.865,6.393
2,Argentina,AR,Buenos Aires,2022,45407904,6.327901e+11,29597.693843,0.858,6.261
3,Argentina,AR,Buenos Aires,2021,45312281,4.865641e+11,26300.274261,0.847,5.908
4,Argentina,AR,Buenos Aires,2020,45191965,3.857405e+11,22393.347958,0.851,5.901
5,Argentina,AR,Buenos Aires,2019,44973465,4.477547e+11,23516.826198,0.861,6.086
6,Argentina,AR,Buenos Aires,2018,44654882,5.248199e+11,24410.391906,0.861,5.793
7,Argentina,AR,Buenos Aires,2017,44288894,6.436284e+11,23385.074090,0.861,6.039
8,Argentina,AR,Buenos Aires,2016,43900313,5.575323e+11,20105.761360,0.857,6.427
9,Argentina,AR,Buenos Aires,2015,43477012,5.947493e+11,19899.149928,0.859,6.697

### >> For 2024 only

- Data  taken from a **Kaggle dataset: World Happiness Report- 2024**
- Link: https://www.kaggle.com/datasets/jainaru/world-happiness-report-2024-yearly-updated

In [50]:
path24 = "/home/rafael/code/latam_numbers/World-happiness-report-2024.csv"

df_happy24 = pd.read_csv(path24, encoding="latin-1")

df_happy24.head(5)

,Country name,Regional indicator,Ladder score,upperwhisker,lowerwhisker,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.741,7.815,7.667,1.844,1.572,0.695,0.859,0.142,0.546,2.082
1,Denmark,Western Europe,7.583,7.665,7.500,1.908,1.520,0.699,0.823,0.204,0.548,1.881
2,Iceland,Western Europe,7.525,7.618,7.433,1.881,1.617,0.718,0.819,0.258,0.182,2.050
3,Sweden,Western Europe,7.344,7.422,7.267,1.878,1.501,0.724,0.838,0.221,0.524,1.658
4,Israel,Middle East and North Africa,7.341,7.405,7.277,1.803,1.513,0.740,0.641,0.153,0.193,2.298

In [51]:
df_happy24 = df_happy24.rename(columns={"Country name": "Country Name",
                                         "Ladder score": "Happiness Index"})

In [52]:
df_happy24.tail()

,Country Name,Regional indicator,Happiness Index,upperwhisker,lowerwhisker,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia + residual
138,Congo (Kinshasa),Sub-Saharan Africa,3.295,3.462,3.128,0.534,0.665,0.262,0.473,0.189,0.072,1.102
139,Sierra Leone,Sub-Saharan Africa,3.245,3.366,3.124,0.654,0.566,0.253,0.469,0.181,0.053,1.068
140,Lesotho,Sub-Saharan Africa,3.186,3.469,2.904,0.771,0.851,0.000,0.523,0.082,0.085,0.875
141,Lebanon,Middle East and North Africa,2.707,2.797,2.616,1.377,0.577,0.556,0.173,0.068,0.029,-0.073
142,Afghanistan,South Asia,1.721,1.775,1.667,0.628,0.000,0.242,0.000,0.091,0.088,0.672

In [ ]:
# Adding new column for YEAR = 2024
df_happy24["Year"] = 2024

In [59]:
# Drop columns and use only the desired columns
df_happy24 = df_happy24[["Country Name", "Year", "Happiness Index"]]

In [60]:
print(countries_list)

['Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia' 'Costa Rica' 'Cuba'
 'Dominican Republic' 'Ecuador' 'El Salvador' 'Guatemala' 'Haiti'
 'Honduras' 'Mexico' 'Nicaragua' 'Panama' 'Paraguay' 'Peru' 'Uruguay'
 'Venezuela']

In [64]:
# Filtering the dataframe for only LATAM countries in the list above
df_happy2_filtered = df_happy24[ df_happy24["Country Name"].isin(countries_list)   ]

df_happy2_filtered.sort_values("Country Name")

          Country Name  Year  Happiness Index
47           Argentina  2024            6.188
72             Bolivia  2024            5.784
43              Brazil  2024            6.272
37               Chile  2024            6.360
77            Colombia  2024            5.695
11          Costa Rica  2024            6.955
68  Dominican Republic  2024            5.823
73             Ecuador  2024            5.725
32         El Salvador  2024            6.469
41           Guatemala  2024            6.287
60            Honduras  2024            5.968
24              Mexico  2024            6.678
42           Nicaragua  2024            6.284
38              Panama  2024            6.358
56            Paraguay  2024            5.977
67                Peru  2024            5.841
25             Uruguay  2024            6.611
78           Venezuela  2024            5.607

### 1. Trying MERGE:

In [ ]:
# Finally let's merge with the other df_merged4:
df_hap_test = df_merged4.merge(df_happy2_filtered,
                                on=["Country Name", "Year"],
                                how="left")

In [76]:
df_hap_test.head(3)

,Country Name,Country ISO Code,Capital City,Year,Total Population,Total GDP (USD),"GDP per Capita, PPP (USD)",HDI,Happiness Index_x,Happiness Index_y
0,Argentina,AR,Buenos Aires,2024,45696159,6.332667e+11,30175.535966,NaN,NaN,6.188
1,Argentina,AR,Buenos Aires,2023,45538401,6.460753e+11,30082.304525,0.865,6.393,NaN
2,Argentina,AR,Buenos Aires,2022,45407904,6.327901e+11,29597.693843,0.858,6.261,NaN

In [ ]:
# Cleaning the column Happiness Index after the merge
df_hap_test["Happiness Index"] = df_hap_test["Happiness Index_x"].fillna(df_hap_test["Happiness Index_y"])

# Drop the old _x and _y columns
df_happy = df_hap_test.drop(columns=["Happiness Index_x", "Happiness Index_y"])

df_happy.tail(30)

,Country Name,Country ISO Code,Capital City,Year,Total Population,Total GDP (USD),"GDP per Capita, PPP (USD)",HDI,Happiness Index
170,Peru,PE,Lima,2024,34217848,2.892220e+11,17802.418250,NaN,5.841
171,Peru,PE,Lima,2023,33845617,2.669587e+11,17011.227803,0.794,5.936
172,Peru,PE,Lima,2022,33475438,2.460656e+11,16669.156149,0.790,5.892
173,Peru,PE,Lima,2021,33155882,2.263288e+11,15280.551211,0.764,5.694
174,Peru,PE,Lima,2020,32838579,2.014097e+11,12563.303806,0.769,4.994
175,Peru,PE,Lima,2019,32449303,2.283460e+11,13563.537293,0.784,5.999
176,Peru,PE,Lima,2018,31897584,2.225970e+11,13078.232350,0.780,5.680
177,Peru,PE,Lima,2017,31324637,2.110080e+11,12591.856288,0.775,5.711
178,Peru,PE,Lima,2016,30866494,1.918981e+11,12066.546068,0.775,5.701
179,Peru,PE,Lima,2015,30457600,1.898030e+11,11600.387399,0.768,5.577
180,Uruguay,UY,Montevideo,2024,3386588,8.096151e+10,36417.874162,NaN,6.611
181,Uruguay,UY,Montevideo,2023,3388081,7.799167e+10,34470.932220,0.862,6.662
182,Uruguay,UY,Montevideo,2022,3390913,7.059411e+10,33000.918700,0.852,6.671
183,Uruguay,UY,Montevideo,2021,3396695,6.073908e+10,29431.885009,0.837,6.502
184,Uruguay,UY,Montevideo,2020,3398968,5.355936e+10,25725.258217,0.837,6.310
185,Uruguay,UY,Montevideo,2019,3397206,6.222231e+10,25782.689020,0.830,6.600
186,Uruguay,UY,Montevideo,2018,3394534,6.534458e+10,24386.494847,0.826,6.372
187,Uruguay,UY,Montevideo,2017,3388438,6.500600e+10,23606.627801,0.827,6.336
188,Uruguay,UY,Montevideo,2016,3379283,5.748079e+10,22840.550707,0.821,6.171
189,Uruguay,UY,Montevideo,2015,3368017,5.768033e+10,22168.611419,0.818,6.628
190,Venezuela,VE,Caracas,2024,28405543,NaN,NaN,NaN,5.607
191,Venezuela,VE,Caracas,2023,28300854,NaN,NaN,0.709,5.765
192,Venezuela,VE,Caracas,2022,28213017,NaN,NaN,0.706,5.949
193,Venezuela,VE,Caracas,2021,28237826,NaN,NaN,0.696,5.108
194,Venezuela,VE,Caracas,2020,28444077,NaN,NaN,0.699,4.574
195,Venezuela,VE,Caracas,2019,28938098,NaN,NaN,0.724,5.081
196,Venezuela,VE,Caracas,2018,29807592,NaN,NaN,0.741,5.006
197,Venezuela,VE,Caracas,2017,30565323,NaN,NaN,0.749,5.071
198,Venezuela,VE,Caracas,2016,30765720,NaN,NaN,0.761,4.041
199,Venezuela,VE,Caracas,2015,30573972,NaN,NaN,0.768,5.569

---

## Life Expectancy

- Data also comes from **World Bank**
- Same flow as before, but now for another indicator: *SP.DYN.LE00.IN*  → Life expectancy at birth, total (years)

In [81]:
indicator = "SP.DYN.LE00.IN"

url = ( f"https://api.worldbank.org/v2/country/{iso_csv}/indicator/{indicator}"
        f"?date={start_year}:{final_year}&format=json&per_page=20000"        )

response = requests.get(url)
response.raise_for_status()
data = response.json()

In [82]:
data

[{'page': 1,
  'pages': 1,
  'per_page': 20000,
  'total': 200,
  'sourceid': '2',
  'lastupdated': '2025-12-04'},
 [{'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'AR', 'value': 'Argentina'},
   'countryiso3code': 'ARG',
   'date': '2024',
   'value': None,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'AR', 'value': 'Argentina'},
   'countryiso3code': 'ARG',
   'date': '2023',
   'value': 77.395,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'AR', 'value': 'Argentina'},
   'countryiso3code': 'ARG',
   'date': '2022',
   'value': 75.806,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'AR', 'value': 'Argentina'},
   'countryiso3code': 'ARG',
   'date': '2021',
   'value': 73.948,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'AR', 'value': 'Argentina'},
   'countryiso3code': 'ARG',
   'date': '2020',
   'value': 75.878,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'AR', 'value': 'Argentina'},
   'countryiso3code': 'ARG',
   'date': '2019',
   'value': 76.847,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'AR', 'value': 'Argentina'},
   'countryiso3code': 'ARG',
   'date': '2018',
   'value': 76.77,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'AR', 'value': 'Argentina'},
   'countryiso3code': 'ARG',
   'date': '2017',
   'value': 76.543,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'AR', 'value': 'Argentina'},
   'countryiso3code': 'ARG',
   'date': '2016',
   'value': 76.105,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'AR', 'value': 'Argentina'},
   'countryiso3code': 'ARG',
   'date': '2015',
   'value': 76.6,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BO', 'value': 'Bolivia'},
   'countryiso3code': 'BOL',
   'date': '2024',
   'value': None,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BO', 'value': 'Bolivia'},
   'countryiso3code': 'BOL',
   'date': '2023',
   'value': 68.581,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BO', 'value': 'Bolivia'},
   'countryiso3code': 'BOL',
   'date': '2022',
   'value': 67.434,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BO', 'value': 'Bolivia'},
   'countryiso3code': 'BOL',
   'date': '2021',
   'value': 61.427,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BO', 'value': 'Bolivia'},
   'countryiso3code': 'BOL',
   'date': '2020',
   'value': 62.906,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BO', 'value': 'Bolivia'},
   'countryiso3code': 'BOL',
   'date': '2019',
   'value': 67.82,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BO', 'value': 'Bolivia'},
   'countryiso3code': 'BOL',
   'date': '2018',
   'value': 67.699,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BO', 'value': 'Bolivia'},
   'countryiso3code': 'BOL',
   'date': '2017',
   'value': 67.536,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BO', 'value': 'Bolivia'},
   'countryiso3code': 'BOL',
   'date': '2016',
   'value': 67.392,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BO', 'value': 'Bolivia'},
   'countryiso3code': 'BOL',
   'date': '2015',
   'value': 67.205,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2024',
   'value': None,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2023',
   'value': 75.848,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2022',
   'value': 74.872,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2021',
   'value': 73.038,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2020',
   'value': 74.506,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2019',
   'value': 75.809,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2018',
   'value': 75.633,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2017',
   'value': 75.383,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2016',
   'value': 75.081,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'BR', 'value': 'Brazil'},
   'countryiso3code': 'BRA',
   'date': '2015',
   'value': 75.106,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CL', 'value': 'Chile'},
   'countryiso3code': 'CHL',
   'date': '2024',
   'value': None,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CL', 'value': 'Chile'},
   'countryiso3code': 'CHL',
   'date': '2023',
   'value': 81.167,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CL', 'value': 'Chile'},
   'countryiso3code': 'CHL',
   'date': '2022',
   'value': 79.176,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CL', 'value': 'Chile'},
   'countryiso3code': 'CHL',
   'date': '2021',
   'value': 78.876,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CL', 'value': 'Chile'},
   'countryiso3code': 'CHL',
   'date': '2020',
   'value': 79.349,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CL', 'value': 'Chile'},
   'countryiso3code': 'CHL',
   'date': '2019',
   'value': 80.324,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CL', 'value': 'Chile'},
   'countryiso3code': 'CHL',
   'date': '2018',
   'value': 80.559,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CL', 'value': 'Chile'},
   'countryiso3code': 'CHL',
   'date': '2017',
   'value': 80.61,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CL', 'value': 'Chile'},
   'countryiso3code': 'CHL',
   'date': '2016',
   'value': 80.295,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CL', 'value': 'Chile'},
   'countryiso3code': 'CHL',
   'date': '2015',
   'value': 80.008,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CO', 'value': 'Colombia'},
   'countryiso3code': 'COL',
   'date': '2024',
   'value': None,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CO', 'value': 'Colombia'},
   'countryiso3code': 'COL',
   'date': '2023',
   'value': 77.725,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CO', 'value': 'Colombia'},
   'countryiso3code': 'COL',
   'date': '2022',
   'value': 76.508,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CO', 'value': 'Colombia'},
   'countryiso3code': 'COL',
   'date': '2021',
   'value': 72.698,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CO', 'value': 'Colombia'},
   'countryiso3code': 'COL',
   'date': '2020',
   'value': 74.757,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CO', 'value': 'Colombia'},
   'countryiso3code': 'COL',
   'date': '2019',
   'value': 76.793,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CO', 'value': 'Colombia'},
   'countryiso3code': 'COL',
   'date': '2018',
   'value': 76.579,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CO', 'value': 'Colombia'},
   'countryiso3code': 'COL',
   'date': '2017',
   'value': 76.418,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CO', 'value': 'Colombia'},
   'countryiso3code': 'COL',
   'date': '2016',
   'value': 76.228,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CO', 'value': 'Colombia'},
   'countryiso3code': 'COL',
   'date': '2015',
   'value': 76.067,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CR', 'value': 'Costa Rica'},
   'countryiso3code': 'CRI',
   'date': '2024',
   'value': None,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CR', 'value': 'Costa Rica'},
   'countryiso3code': 'CRI',
   'date': '2023',
   'value': 80.799,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CR', 'value': 'Costa Rica'},
   'countryiso3code': 'CRI',
   'date': '2022',
   'value': 79.316,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CR', 'value': 'Costa Rica'},
   'countryiso3code': 'CRI',
   'date': '2021',
   'value': 78.05,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CR', 'value': 'Costa Rica'},
   'countryiso3code': 'CRI',
   'date': '2020',
   'value': 79.725,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CR', 'value': 'Costa Rica'},
   'countryiso3code': 'CRI',
   'date': '2019',
   'value': 80.296,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CR', 'value': 'Costa Rica'},
   'countryiso3code': 'CRI',
   'date': '2018',
   'value': 80.09,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CR', 'value': 'Costa Rica'},
   'countryiso3code': 'CRI',
   'date': '2017',
   'value': 79.994,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CR', 'value': 'Costa Rica'},
   'countryiso3code': 'CRI',
   'date': '2016',
   'value': 79.988,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CR', 'value': 'Costa Rica'},
   'countryiso3code': 'CRI',
   'date': '2015',
   'value': 80.407,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CU', 'value': 'Cuba'},
   'countryiso3code': 'CUB',
   'date': '2024',
   'value': None,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CU', 'value': 'Cuba'},
   'countryiso3code': 'CUB',
   'date': '2023',
   'value': 78.085,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CU', 'value': 'Cuba'},
   'countryiso3code': 'CUB',
   'date': '2022',
   'value': 77.629,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CU', 'value': 'Cuba'},
   'countryiso3code': 'CUB',
   'date': '2021',
   'value': 73.201,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CU', 'value': 'Cuba'},
   'countryiso3code': 'CUB',
   'date': '2020',
   'value': 77.407,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CU', 'value': 'Cuba'},
   'countryiso3code': 'CUB',
   'date': '2019',
   'value': 77.413,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CU', 'value': 'Cuba'},
   'countryiso3code': 'CUB',
   'date': '2018',
   'value': 77.426,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CU', 'value': 'Cuba'},
   'countryiso3code': 'CUB',
   'date': '2017',
   'value': 77.3,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CU', 'value': 'Cuba'},
   'countryiso3code': 'CUB',
   'date': '2016',
   'value': 77.571,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'CU', 'value': 'Cuba'},
   'countryiso3code': 'CUB',
   'date': '2015',
   'value': 77.745,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'DO', 'value': 'Dominican Republic'},
   'countryiso3code': 'DOM',
   'date': '2024',
   'value': None,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'DO', 'value': 'Dominican Republic'},
   'countryiso3code': 'DOM',
   'date': '2023',
   'value': 73.72,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'DO', 'value': 'Dominican Republic'},
   'countryiso3code': 'DOM',
   'date': '2022',
   'value': 74.211,
   'unit': '',
   'obs_status': '',
   'decimal': 0},
  {'indicator': {'id': 'SP.DYN.LE00.IN',
    'value': 'Life expectancy at birth, total (years)'},
   'country': {'id': 'DO', 'value': 'Dominican Republic'},
   'countryiso3code': 'DOM',
   'date': '2021',
   'value': 71.757,
   'unit': '',
   'obs_status': '',
   'decimal': 0},

In [ ]:
rows = []

for rec in data[1]:    # payload[1] contains the actual observations

    iso2 = (rec.get("country") or {}).get("id")          # e.g. 'AR'

    country_name = (rec.get("country") or {}).get("value")
    year = int(rec.get("date")) if rec.get("date") else None
    life_exp = rec.get("value")   # GDP can be None if missing

    rows.append({
        "Country ISO Code": iso2.upper() if iso2 else None,
        "Country Name": country_name,
        "Year": year,
        "Life Expectancy (years)": life_exp
                })

df_wb_lifeexp = pd.DataFrame(rows)

df_wb_lifeexp.head(5)

  Country ISO Code Country Name  Year  Life Expectancy (years)
0               AR    Argentina  2024                      NaN
1               AR    Argentina  2023                   77.395
2               AR    Argentina  2022                   75.806
3               AR    Argentina  2021                   73.948
4               AR    Argentina  2020                   75.878

In [88]:
# Merge with df_happy
df_final = df_happy.merge(df_wb_lifeexp[["Country ISO Code", "Year", "Life Expectancy (years)"]],
                          on=["Country ISO Code", "Year"],
                          how="left")

In [89]:
df_final.head(50)

,Country Name,Country ISO Code,Capital City,Year,Total Population,Total GDP (USD),"GDP per Capita, PPP (USD)",HDI,Happiness Index,Life Expectancy (years)
0,Argentina,AR,Buenos Aires,2024,45696159,6.332667e+11,30175.535966,NaN,6.188,NaN
1,Argentina,AR,Buenos Aires,2023,45538401,6.460753e+11,30082.304525,0.865,6.393,77.395
2,Argentina,AR,Buenos Aires,2022,45407904,6.327901e+11,29597.693843,0.858,6.261,75.806
3,Argentina,AR,Buenos Aires,2021,45312281,4.865641e+11,26300.274261,0.847,5.908,73.948
4,Argentina,AR,Buenos Aires,2020,45191965,3.857405e+11,22393.347958,0.851,5.901,75.878
5,Argentina,AR,Buenos Aires,2019,44973465,4.477547e+11,23516.826198,0.861,6.086,76.847
6,Argentina,AR,Buenos Aires,2018,44654882,5.248199e+11,24410.391906,0.861,5.793,76.770
7,Argentina,AR,Buenos Aires,2017,44288894,6.436284e+11,23385.074090,0.861,6.039,76.543
8,Argentina,AR,Buenos Aires,2016,43900313,5.575323e+11,20105.761360,0.857,6.427,76.105
9,Argentina,AR,Buenos Aires,2015,43477012,5.947493e+11,19899.149928,0.859,6.697,76.600
10,Bolivia,BO,Sucre,2024,12413315,4.966830e+10,11189.805510,NaN,5.784,NaN
11,Bolivia,BO,Sucre,2023,12244159,4.513540e+10,10925.273053,0.733,5.860,68.581
12,Bolivia,BO,Sucre,2022,12077154,4.400828e+10,10371.962908,0.727,5.929,67.434
13,Bolivia,BO,Sucre,2021,11937360,4.040611e+10,9454.198147,0.693,5.569,61.427
14,Bolivia,BO,Sucre,2020,11816299,3.662984e+10,8293.991212,0.697,5.559,62.906
15,Bolivia,BO,Sucre,2019,11671386,4.089532e+10,9174.445636,0.728,5.674,67.820
16,Bolivia,BO,Sucre,2018,11508368,4.028765e+10,8952.587853,0.722,5.916,67.699
17,Bolivia,BO,Sucre,2017,11344587,3.750864e+10,8510.266857,0.715,5.651,67.536
18,Bolivia,BO,Sucre,2016,11180020,3.394113e+10,7547.903766,0.714,5.770,67.392
19,Bolivia,BO,Sucre,2015,11014705,3.300020e+10,7152.044650,0.704,5.834,67.205
20,Brazil,BR,Brasília,2024,211998573,2.179412e+12,22333.411664,NaN,6.272,NaN
21,Brazil,BR,Brasília,2023,211140729,2.191132e+12,21175.618699,0.786,6.553,75.848
22,Brazil,BR,Brasília,2022,210306415,1.951924e+12,19876.853353,0.780,6.257,74.872
23,Brazil,BR,Brasília,2021,209550294,1.670647e+12,18075.706005,0.768,6.010,73.038
24,Brazil,BR,Brasília,2020,208660842,1.476107e+12,16101.618306,0.770,6.110,74.506
25,Brazil,BR,Brasília,2019,207455459,1.873288e+12,16069.838015,0.776,6.451,75.809
26,Brazil,BR,Brasília,2018,206107261,1.916934e+12,15463.742639,0.774,6.191,75.633
27,Brazil,BR,Brasília,2017,204703445,2.063515e+12,14559.048890,0.770,6.333,75.383
28,Brazil,BR,Brasília,2016,203218114,1.795693e+12,14309.206149,0.765,6.375,75.081
29,Brazil,BR,Brasília,2015,201675532,1.802212e+12,14821.438317,0.764,6.547,75.106
30,Chile,CL,Santiago,2024,19764771,3.302671e+11,34637.116828,NaN,6.360,NaN
31,Chile,CL,Santiago,2023,19658835,3.355181e+11,32801.378638,0.878,6.230,81.167
32,Chile,CL,Santiago,2022,19553036,3.012266e+11,30820.352697,0.869,6.415,79.176
33,Chile,CL,Santiago,2021,19456334,3.153255e+11,29089.850460,0.865,6.436,78.876
34,Chile,CL,Santiago,2020,19370624,2.540422e+11,25350.863508,0.856,6.151,79.349
35,Chile,CL,Santiago,2019,19197744,2.782851e+11,25611.757827,0.867,5.942,80.324
36,Chile,CL,Santiago,2018,18893191,2.958576e+11,25305.090346,0.866,6.436,80.559
37,Chile,CL,Santiago,2017,18558868,2.761543e+11,24295.223767,0.862,6.320,80.610
38,Chile,CL,Santiago,2016,18267221,2.493449e+11,23256.503604,0.859,6.579,80.295
39,Chile,CL,Santiago,2015,18047625,2.424504e+11,22457.880061,0.855,6.533,80.008
40,Colombia,CO,Bogotá,2024,52886363,4.185420e+11,21494.600271,NaN,5.695,NaN
41,Colombia,CO,Bogotá,2023,52321152,3.662918e+11,20944.488389,0.788,5.904,77.725
42,Colombia,CO,Bogotá,2022,51737944,3.456325e+11,20695.742678,0.782,5.892,76.508
43,Colombia,CO,Bogotá,2021,51188173,3.185246e+11,17383.090173,0.762,5.290,72.698
44,Colombia,CO,Bogotá,2020,50629997,2.703483e+11,15519.210169,0.764,5.709,74.757
45,Colombia,CO,Bogotá,2019,49907985,3.230317e+11,16181.590899,0.777,6.350,76.793
46,Colombia,CO,Bogotá,2018,49024465,3.341982e+11,15239.404949,0.775,5.984,76.579
47,Colombia,CO,Bogotá,2017,48131078,3.118669e+11,14400.613985,0.774,6.157,76.418
48,Colombia,CO,Bogotá,2016,47437512,2.827201e+11,14026.839993,0.772,6.234,76.228
49,Colombia,CO,Bogotá,2015,46969940,2.934924e+11,13332.055505,0.767,6.388,76.067

✅ Final dataframe created successfully! Now just export it to a CSV file:

## Final Export

In [ ]:
df_final.to_csv("latam_numbers.csv", sep=";", index=False)

---